<h2>Welcome to Authret</h2>

<div>
  <button mat-raised-button (click)="ping1()" color="primary">Ping1</button>
</div>
<div>
  <button mat-raised-button (click)="ping2()" color="primary">Ping2</button>
</div>
<div>
  <button mat-raised-button (click)="ping3()" color="primary">Ping3</button>
</div>
<div>
  <button mat-raised-button (click)="ping4()" color="primary">Ping4</button>
</div>
<div>
  <button mat-raised-button (click)="wrapping4()" color="primary">WrapPing4</button>
</div>
<div>
  <button mat-raised-button (click)="ping5()" color="primary">Ping5</button>
</div>
<div>
  <button mat-raised-button (click)="ping6()" color="primary">Ping6</button>
</div>
<br/>
<div>
  <button mat-raised-button (click)="login()" color="primary">Login</button>
</div>
<br/>
<div>
  <button mat-raised-button (click)="register()" color="primary">Register</button>
</div>
<br/>
<div>
  Status: {{this.err.status}}
</div>
<div>
  Message: {{this.err.message}}
</div>
<div>
  Type: {{this.err.type}}
</div>
